<ol class="breadcrumb hidden-print {% if knp_menu_get_breadcrumbs_array(knp_menu_get_current_item(item))|length < 2 %}hide{% endif %}">
    {% for breadcrumb_item in knp_menu_get_breadcrumbs_array(knp_menu_get_current_item(item)) %}
        {% if not loop.first %}
            <li class="{% if loop.last %}active{% endif %}">
                {% if breadcrumb_item.uri is not null and breadcrumb_item.uri not in ['#'] and not loop.last %}
                    <a href="{{ breadcrumb_item.uri }}">{{ breadcrumb_item.label }}</a>
                {% else %}
                    {{ breadcrumb_item.label }}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ol>