{% macro _el() %}
    var _dashboard = $('#dashboard_{{ app.request.attributes.get('_controller')|replace({'.': '_', ':': '_'}) }}');
{% endmacro %}
{% set _char_id = app.request.attributes.get('_controller')|replace({'.': '_', ':': '_'}) %}

<div class="dashboard" id="dashboard_{{ _char_id }}">
    {% block javascript %}{% endblock %}

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            {% block title_wrapper %}
                <i class="fa fa-bar-chart-o fa-fw"></i> {% block title %}{% endblock %}
            {% endblock %}
            <div class="pull-right">
                {% block header_right %}{% endblock %}
            </div>
        </div>

        <div class="panel-body">
            <div class="chart"></div>
        </div>
    </div>
</div>