{% set route = app.request.attributes.get('_route') %}
{% set routeParams = app.request.attributes.get('_route_params') %}
{% set query = app.request.query.all|unset(form.vars.id) %}

<section id="{{ form.vars.id }}" class="filter {% if form.vars.value is not null %}filtered{% endif %} hidden-print">
    {% block title_block %}
        <h1 data-toggle="tooltip" data-placement="top" title="{% block title_attr 'Pro podrobnější vyhledávání a filtrování klikněte.' %}">
            {% block title_block_inner %}
                <i class="glyphicon glyphicon-search"></i>
                {% block title 'Vyhledávání a filtrování záznamů' %}
                <i class="glyphicon glyphicon-chevron-down pull-right filtr-opener"></i>
            {% endblock %}
        </h1>
    {% endblock %}

    {% block content %}
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <input type="submit" class="btn btn-primary" value="{% block submit_button_text 'Filtrovat' %}">




        {% if form.vars.value is not null %}
            {% block reset_button %}
                <a href="{{ path(route, {}|merge(query)|merge(routeParams)) }}" class="btn btn-danger">
                    {% block reset_button_text 'Zrušit filtry' %}
                </a>
            {% endblock %}
        {% endif %}
        {{ form_end(form) }}
    {% endblock %}

    {% if form.vars.value is not null %}
        <div class="filter-footer">
            {% block reset_button_small %}
                <a href="{{ path(route, {}|merge(query)|merge(routeParams), false, false) }}" class="btn btn-danger btn-xs">
                    <i class="glyphicon glyphicon-remove"></i>
                    {{ block('reset_button_text') }}
                </a>
            {% endblock %}
        </div>
    {% endif %}
</section>
