<div class="alert {{ key is defined ? 'alert-' ~ (flashMessagesMap[key] ?? 'default') }}" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div class="content">
        {{ message|default('')|trans }}
    </div>
</div>
