{% block date_widget -%}
    {% if widget == 'single_text' %}
        <div class="input-group date" data-date-show-on-focus="{{ form.vars.showDatepickerOnFocus ? 'true' : 'false' }}">
            {{- block('form_widget_simple') -}}
            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>

    {% else -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) -%}
        {% if datetime is not defined or not datetime -%}
            <div {{ block('widget_container_attributes') -}}>
        {%- endif %}
        {{- date_pattern|replace({
            '{{ year }}': form_widget(form.year),
            '{{ month }}': form_widget(form.month),
            '{{ day }}': form_widget(form.day),
        })|raw -}}
        {% if datetime is not defined or not datetime -%}
            </div>
        {%- endif -%}
    {% endif %}
{%- endblock date_widget %}

{% block color_widget -%}
    <div class="input-group color-picker">
        {{ block('form_widget_simple') }}
        <span class="input-group-addon"><i></i></span>
    </div>
{%- endblock %}

{% block entity_widget -%}
    {% if form.vars.button.enabled %}
        <div class="input-group">
    {% endif %}

    {{ block('choice_widget') }}

    {% if form.vars.button.enabled %}
        <span class="input-group-btn">
            <button class="{{ form.vars.button.class }}" type="button" id="{{ form.vars.id }}_button">
                <i class="{{ form.vars.button['icon-class'] }}"></i>
            </button>
        </span>
    {% endif %}

    {% if form.vars.button.enabled %}
        </div>
    {% endif %}

{%- endblock %}

{% block text_row -%}
    {% if form.vars.attr['data-autocomplete'] is defined %}
        <script>
            $(function () {
                var $element = $("#{{ form.vars.id }}");
                $element.parent().addClass('ui-front')
                $element.autocomplete({
                    source: function (request, response) {
                        var $this = $(this.element);
                        response($this.data('autocomplete'));
                    },
                    open: function(event, ui) {
                        $(event.target).addClass('open');
                    },
                    close: function (event, ui) {
                        $(event.target).removeClass('open');
                    },
                    minLength: 0
                });
                $element.on('focus', function () {
                    $element.autocomplete('search', '');
                })
            })
        </script>
    {% endif %}
    {{ form_row(form) }}
{%- endblock %}
