{% extends 'base.html.twig' %}

{% block title %}{{ page_title|default('') }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styles/styles.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.1.0/css/buttons.bootstrap.min.css"/>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}" title="{{ logo_title|default('') }}">
                    <img alt="{{ logo_title|default('') }}" src="/images/logo.png"/>
                    {{ page_title|default('') }}
                </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                {% block top_links %}{% endblock %}
                {% if app.user %}
                    {% block user_menu %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                            {{ app.request.attributes.get('_current_user').celeJmeno }}
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path("logout") }}">
                                    <i class="fa fa-sign-out fa-fw"></i>
                                    Odhlásit
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endblock %}
                {% endif %}
            </ul>

            <!-- /.navbar-top-links -->

            {% block left_navigation %}
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        {{ knp_menu_render('main') }}
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
            {% endblock left_navigation %}
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper" class="{{ fullPage is defined and fullPage == true ? 'fullpage' }}">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 main">
                    <div class="loader hide">
                        <div class='uil-default-css' style='-webkit-transform:scale(0.39)'>
                            <div style='top:80px;left:93px;width:14px;height:40px;background:#cec9c9;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                            <div style='top:80px;left:93px;width:14px;height:40px;background:#cec9c9;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                            <div style='top:80px;left:93px;width:14px;height:40px;background:#cec9c9;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                            <div style='top:80px;left:93px;width:14px;height:40px;background:#cec9c9;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                            <div style='top:80px;left:93px;width:14px;height:40px;background:#cec9c9;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                            <div style='top:80px;left:93px;width:14px;height:40px;background:#cec9c9;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                            <div style='top:80px;left:93px;width:14px;height:40px;background:#cec9c9;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                            <div style='top:80px;left:93px;width:14px;height:40px;background:#cec9c9;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                            <div style='top:80px;left:93px;width:14px;height:40px;background:#cec9c9;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                            <div style='top:80px;left:93px;width:14px;height:40px;background:#cec9c9;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                            <div style='top:80px;left:93px;width:14px;height:40px;background:#cec9c9;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                            <div style='top:80px;left:93px;width:14px;height:40px;background:#cec9c9;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                        </div>
                    </div>

                    <div class="hidden-print" id="flash-messages">
                        <template>
                            {% include '@CustomISApp/flash-message.html.twig' %}
                        </template>
                        {% if app.session.flashBag|length > 0 %}
                            {% for key, messages in app.session.flashBag.all %}
                                {% for message in messages %}
                                    {% include '@CustomISApp/flash-message.html.twig' %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </div>

                    {{ knp_menu_render('main', {'template': 'CustomISAppBundle::breadcrumbs.html.twig'}) }}

                    {% block page_title_wrap %}
                        {% if block('page_title') is defined %}
                            <h2 id="page-title">{{ block('page_title') }}</h2>
                        {% endif %}
                    {% endblock %}

                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        {% block modal %}
            <div class="modal fade" id="modalni-okno" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bower_components/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bower_components/moment/min/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables/media/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>
    <script src="{{ asset('bower_components/webshim/js-webshim/minified/polyfiller.js') }}"></script>
    <script src="{{ asset('bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('bower_components/select2/dist/js/i18n/cs.js') }}"></script>
    <script src="{{ asset('js/dynamic-confirm-dialog.plugin.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.cs.min.js') }}"></script>
    <script src="{{ asset('bower_components/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js') }}"></script>
    <script src="{{ asset('bower_components/plupload/js/plupload.full.min.js') }}"></script>
    <script src="{{ asset('bower_components/d3/d3.min.js') }}"></script>
    <script src="{{ asset('bower_components/c3/c3.js') }}"></script>

    <script type="text/javascript">
        webshim.setOptions("forms-ext", {
            types: "date",
            date: {
                startView: 2,
                openOnFocus: true
            }
        });
        webshims.activeLang('cs');
        webshim.polyfill('forms forms-ext');

        var flashMessageMap = {{ flashMessagesMap|json_encode|raw }}
        function addFlashMessage(messages, type) {
            messages = [].concat(messages);
            var $flash = $('#flash-messages');

            var template = $flash.find('template').html();
            $.each(messages, function (i, message) {
                var $template = $(template);
                var $content = $template.find('.content');

                if (flashMessageMap[type]) {
                    $template.addClass('alert-' + flashMessageMap[type]);
                }
                $content.html(message);

                $flash.append($template);
            });
        }

        function addSuccessFlashMessage(message) {
            addSuccessMessage(message);
        }

        function addSuccessMessage(message) {
            addFlashMessage(message, 'success');
        }

        function addNoticeFlashMessage(message) {
            addNoticeMessage(message);
        }
        function addNoticeMessage(message) {
            addFlashMessage(message, 'info');
        }

        function addErrorFlashMessage(message) {
            addErrorMessage(message);
        }
        function addErrorMessage(message) {
            addFlashMessage(message, 'danger');
        }


        var select2Config = {
            theme: "bootstrap",
            width: 'style',
            language: 'cs',
            allowClear: true,
            templateSelection: function (data, container) {
                return $(data.element).data('label') || data.text;
            },
            templateResult: function (data, container) {
                var $el = $('<div/>', {
                    html: data.text,

                });

                var $option = $(data.element);
                if ($option.attr('style')) {
                    $el.attr('style', $option.attr('style'));
                }

                return $el;
            }
        };

        $(function () {

            $('[data-toggle="popover"]').popover();

            $('.color-picker').colorpicker({
                format: 'rgb',
                colorSelectors: {
                    '#777777': '#777777', //default
                    '#337ab7': '#337ab7', //primary
                    '#5cb85c': '#5cb85c', //success
                    '#5bc0de': '#5bc0de', //info
                    '#f0ad4e': '#f0ad4e', //warning
                    '#d9534f': '#d9534f' //danger
                }
            });

            $('.color-picker input').click(function () {
                $(this).closest('.color-picker').colorpicker('show');
            })

            $("body").dynamicConfirmDialog({
                confirmText: "Opravdu chcete smazat vybranou položku? Jedná se o nevratnou změnu.",
                confirmTitle: "Potvrďte prosím smazání",
                confirmButtonText: "Smazat",
                cancelButtonText: "Zrušit",
                confirmButtonClasses: "btn-danger",
                cancelButtonClasses: "btn-default",
                dialogClass: "modal-dialog modal-md",
                focusOnConfirmButton: false
            }, '.delete');

//            $("body").dynamicConfirmDialog({
//                confirmText: "Potvrďte prosím požadovanou akci",
//                confirmTitle: "Potvrzení změny",
//                confirmButtonText: "Potvrdit",
//                cancelButtonText: "Zrušit",
//                confirmButtonClasses: "btn-danger",
//                cancelButtonClasses: "btn-default",
//                dialogClass: "modal-dialog modal-md",
//                focusOnConfirmButton: false
//            }, '.confirm');

            $("body").dynamicConfirmDialog({
                confirmText: "Opravdu si přejete danou operaci provést?.",
                confirmTitle: "Potvrďte prosím",
                confirmButtonText: "Potvrdit",
                cancelButtonText: "Zrušit",
                confirmButtonClasses: "btn-primary",
                cancelButtonClasses: "btn-default",
                dialogClass: "modal-dialog modal-md",
                focusOnConfirmButton: false
            }, '.confirm');

            $('#side-menu').metisMenu();

            $(window).bind("load resize", function () {
                topOffset = 50;
                width = (this.window.innerWidth > 0) ? this.window.innerWidth : this.screen.width;
                if (width < 768) {
                    $('div.navbar-collapse').addClass('collapse');
                    topOffset = 100; // 2-row-menu
                } else {
                    $('div.navbar-collapse').removeClass('collapse');
                }

                height = ((this.window.innerHeight > 0) ? this.window.innerHeight : this.screen.height) - 1;
                height = height - topOffset;
                if (height < 1) height = 1;
                if (height > topOffset) {
                    $("#page-wrapper").css("min-height", (height) + "px");
                }
            });

            $('[data-toggle="tooltip"]').tooltip();

            $("select:not(.ignore-select2)").select2(select2Config);

            $('.sortable-table tbody').sortable({
                handle: ".sortable-handle",
                helper: function (e, ui) {
                    ui.children().each(function () {
                        $(this).width($(this).width());
                    });
                    return ui;
                },
                start: function (e, ui) {
                    var height = $(ui.item).height();
                    $(ui.placeholder).height(height);
                    $(this).attr('data-previndex', ui.item.index());
                },
                update: function (event, ui) {
                    var $this = $(this);
                    var $table = $this.closest('table')
                    var $current = $(ui.item);

                    var newIndex = ui.item.index();
                    var oldIndex = $this.attr('data-previndex');
                    $(this).removeAttr('data-previndex');

                    $.post(
                        $table.data('sortable-url'),
                        {
                            "sortable-id": $current.data('sortable-id'),
                            "sortable-diff": newIndex - oldIndex
                        }
                    );
                }
            });

            $('.filter h1').click(function (e) {
                var filtr = $(this).closest('.filter');
                var sipka = $('.filtr-opener');
                if (filtr.hasClass('open'))
                {
                    filtr.removeClass('open');
                    sipka.removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                }
                else
                {
                    filtr.addClass('open');
                    sipka.removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                }

            })
        })

        function hide_loader() {
            $('.loader').addClass('hide');
        }

        function show_loader() {
            $('.loader').removeClass('hide');
        }

        function smazatRadekTabulky(element) {
            var url = element.attr('href');
            if (url) {
                show_loader();
                var jqxhr = $.ajax({
                    url: url,
                    method: "GET",
                    dataType: "json"
                })
                    .done(function (result) {
                        if (result.result) {
                            var radek = element.parents('tr');
                            radek.fadeOut(500, function () {
                                hide_loader();
                                addSuccessMessage('Položka byla smazána.');
                                radek.remove();
                            });
                        }
                        else {
                            hide_loader();
                            if (result.message) {
                                addErrorMessage(result.message);
                            }
                            else {
                                addErrorMessage('Při mazání došlo k chybě.');
                            }
                        }
                    })
                    .fail(function (result) {
                        hide_loader();
                        addErrorMessage('Při mazání došlo k chybě. Zkuste obnovit stránku. ');
                    });
            }
        }

        function init_datepicker() {
            $(function () {

                $('.input-group.date').datepicker({
                    format: "dd.mm.yyyy",
                    language: "cs",
                    toggleActive: true,
                    todayHighlight: true
                });
            });
        }

        function rememberTab($tab) {
            $tab.on('click', 'a', function (e) {
                e.preventDefault();
                var $this = $(this);

                window.sessionStorage[$tab.attr('id')] = $this.parent().index() + 1;
            });

            $(document).on('click', '#cile-vspj-tabs a', function (e) {
                e.preventDefault();
                var $this = $(this);

                window.sessionStorage.cile_vspj_tab = $this.parent().index() + 1;
            })

            if (window.sessionStorage[$tab.attr('id')] !== 'undefined') {
                $tab.find('li:nth-child(' + window.sessionStorage[$tab.attr('id')] + ') a').click();
            }
        }

        init_datepicker();
    </script>
{% endblock %}
