{% extends 'knp_menu.html.twig' %}
{% import 'knp_menu.html.twig' as knp_menu %}

{% block root %}
    {% set listAttributes = item.childrenAttributes %}

    {% set listAttributes = listAttributes|merge({'class': (listAttributes.class is defined ? listAttributes.class ~ ' ') ~ 'nav in'}) %}
    {% set listAttributes = listAttributes|merge({'id': (listAttributes.id is defined ? listAttributes.id : item.name)}) %}

    {{ block('list') -}}
{% endblock root %}

{% block item %}
    {% if item.displayed %}
        {# building the class of the item #}
        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- if matcher.isCurrent(item) %}
            {%- set classes = classes|merge([options.currentClass]) %}
        {%- elseif matcher.isAncestor(item, options.matchingDepth) %}
            {%- set classes = classes|merge([options.ancestorClass]) %}
        {%- endif %}
        {%- if item.actsLikeFirst %}
            {%- set classes = classes|merge([options.firstClass]) %}
        {%- endif %}
        {%- if item.actsLikeLast %}
            {%- set classes = classes|merge([options.lastClass]) %}
        {%- endif %}

        {# Mark item as "leaf" (no children) or as "branch" (has children that are displayed) #}
        {% if item.hasChildren and options.depth is not same as(0) %}
            {% if options.branch_class is not empty and item.displayChildren %}
                {%- set classes = classes|merge([options.branch_class]) %}
            {% endif %}
        {% elseif options.leaf_class is not empty %}
            {%- set classes = classes|merge([options.leaf_class]) %}
        {%- endif %}

        {%- set attributes = item.attributes %}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}
        {# displaying the item #}
        <li{{ knp_menu.attributes(attributes) }}>
            {%- if item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
                {{ block('linkElement') }}
            {%- else %}
                {{ block('spanElement') }}
            {%- endif %}
            {# render the list of children#}

            {% do item.setChildrenAttribute("class", "nav collapse " ~ item.childrenAttribute('class')) %}
            {% set levels = {1: 'second', 2: 'third', 3: 'fourth', 4: ''} %}

            {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
            {%- set childrenClasses = childrenClasses|merge(['nav-' ~ levels[item.level] ~ '-level']) %}
            {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
            {{ block('list') }}
        </li>
    {% endif %}
{% endblock item %}

{% block linkElement %}

    {% set linkAttributes = item.linkAttributes %}
    {%- if matcher.isCurrent(item) %}
        {% set linkAttributes = linkAttributes|merge({'class': (linkAttributes.class is defined ? linkAttributes.class ~ ' ') ~ 'active'}) %}
    {% endif %}

    <a href="{{ item.uri }}"{{ knp_menu.attributes(linkAttributes) }}>
        {{ block('label') }}
        {% if item.hasChildren and options.depth is not same as(0) %}
            <span class="fa arrow"></span>
        {% endif %}
    </a>
{% endblock linkElement %}