{% extends '@CustomISApp/modal-layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {

            var form = $('.modal-content form');
            if (form) {
                var modal = form.closest('.modal');
                var modal_content = modal.find('.modal-content');

                var options = modal.data('bs.modal').options;
                var remote = options.remote;
                form.attr('action', remote);

                form.submit(function (e) {
                    e.preventDefault();

                    $.ajax({
                        url: remote,
                        type: form.attr('method'),
                        data: new FormData(this),
                        processData: false,
                        contentType: false
                    })
                        .done(function (data, textStatus, header) {
                            if (typeof(data) == 'object') {
                                modal.modal('hide');
                                if (data.hasOwnProperty('@flash')) {
                                    $.each(data['@flash'], function (key, value) {
                                        addFlashMessage(value, key);
                                    })
                                }

                                if (data.hasOwnProperty('@redirect_route')) {
                                    window.location = Routing.generate(data['@redirect_route'], data['@redirect_route_params'])
                                }
                                else {
                                    $('#skodna-udalost-detail li.active a').click();
                                }
                            }
                            else {
                                modal_content.html(data);
                            }
                        });
                });
            }
        });

        //# sourceURL=modal-form.js
    </script>
{% endblock %}
{% block modal %}
    {% block modal_form_start %}
        {{ form_start(form) }}
    {% endblock %}
    <div class="modal-header">
        {% block header %}
            {{ parent() }}
        {% endblock %}
    </div>
    <div class="modal-body">
        {% block body %}
            {{ form_widget(form) }}
        {% endblock %}
    </div>
    <div class="modal-footer">
        {% block footer %}
            {{ parent() }}
            <button type="submit" id="osobni_udaje_save"
                    class="btn btn-primary">{% block modal_save %}Uložit údaje{% endblock %}</button>
        {% endblock %}
    </div>
    {% block modal_form_end %}
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}
