{% block javascripts %}
    <script>
        $(function () {

            var select2ConfigModal = select2Config;
            select2ConfigModal.dropdownParent = $("#modalni-okno");
            $(".modal-content select:not(.ignore-select2)").select2(select2ConfigModal);

            init_datepicker();

            var modal = $('.modal');
            var modal_content = modal.find('.modal-content');

            modal.on('hidden.bs.modal', function (e) {
                modal.removeData('bs.modal');

                modal_content.empty();
            });
        });
        //# sourceURL=modal.js
    </script>
{% endblock %}
{% block modal %}
    <div class="modal-header">
        {% block header %}
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">
                {% block title %}{% endblock %}
            </h4>
        {% endblock %}
    </div>
    <div class="modal-body">
        {% block body %}{% endblock %}
    </div>
    <div class="modal-footer">
        {% block footer %}
            <button type="button" id="osobni_udaje_cancel" data-dismiss="modal" class="btn btn-default">{% block modal_cancel %}Zavřít{% endblock %}</button>
        {% endblock %}
    </div>
{% endblock %}
