{% block javascripts %}
    <script>
        var page_title = $('#page-title')

        function changePageTitle(title)
        {
            page_title.data('old-title', page_title.html());
            page_title.html(title);
        }

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            if (page_title.data('old-title'))
            {
                page_title.html(page_title.data('old-title'));
                page_title.removeData('old-title');
            }
        })
    </script>
{% endblock %}

{% block content %}
{% endblock %}
