{% use "bootstrap_3_layout.html.twig" %}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}
    {{- parent() -}}&nbsp;
    {% if help_popup is defined %}
        <a href="#"
           class="popup"
           data-container="body" data-toggle="popover" data-placement="top" 
           data-content="{{ help_popup }}">
            <span class="glyphicon glyphicon-info-sign" title="Klikněte pro nápovědu"></span>
        </a>
    {% endif %}
{%- endblock form_label %}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
        {% if help_text is defined %}
            <span class="help-block">{{ help_text }}</span>
        {% endif %}
    </div>
{%- endblock form_row %}